USE [master]
GO
/****** Object:  Database [Bricenio_DB]    Script Date: 22/06/2020 11:07:21 ******/
CREATE DATABASE [Bricenio_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bricenio_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Bricenio_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bricenio_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Bricenio_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bricenio_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bricenio_DB]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 22/06/2020 11:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 22/06/2020 11:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Año] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/06/2020 11:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMarca] [bigint] NOT NULL,
	[IDModelo] [bigint] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[Precio] [money] NOT NULL,
	[Condicion] [varchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[ImagenURL] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos_x_Marcas]    Script Date: 22/06/2020 11:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos_x_Marcas](
	[IDProducto] [bigint] NOT NULL,
	[IDMarca] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC,
	[IDMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos_x_Modelos]    Script Date: 22/06/2020 11:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos_x_Modelos](
	[IDProducto] [bigint] NOT NULL,
	[IDModelo] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC,
	[IDModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos_x_Marcas]  WITH CHECK ADD FOREIGN KEY([IDMarca])
REFERENCES [dbo].[Marcas] ([ID])
GO
ALTER TABLE [dbo].[Productos_x_Marcas]  WITH CHECK ADD  CONSTRAINT [FK_Productos_x_Marca] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([ID])
GO
ALTER TABLE [dbo].[Productos_x_Marcas] CHECK CONSTRAINT [FK_Productos_x_Marca]
GO
ALTER TABLE [dbo].[Productos_x_Modelos]  WITH CHECK ADD FOREIGN KEY([IDModelo])
REFERENCES [dbo].[Modelos] ([ID])
GO
ALTER TABLE [dbo].[Productos_x_Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_x_Modelo] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([ID])
GO
ALTER TABLE [dbo].[Productos_x_Modelos] CHECK CONSTRAINT [FK_Productos_x_Modelo]
GO
USE [master]
GO
